.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.titleContainer > div {
    padding-bottom: 0;
}

.pContainer > p {
    margin-top: 0;
}

.itemsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    flex: unset;
    flex-basis: 35%;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 300px;
}

@media screen and (min-width: 300px) {
    .itemsContainer > .item:nth-of-type(odd),
    .itemsContainer > .item:nth-of-type(even) {
        margin-right: 2rem;
    }
}

@media screen and (min-width: 1000px) {
    .itemsContainer > .item:nth-of-type(odd),
    .itemsContainer > .item:nth-of-type(even) {
        margin-right: 5rem;
    }
}
