@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap");

.hero {
    display: flex;
}

.container {
    height: 980px;
    justify-content: unset;
}

.titleContainer {
    display: flex;
    padding: 0 9vw;
    max-width: 70%;
}

.title {
    position: relative;
    color: #000000;
}

.title > span {
    display: inline;

    padding-left: 0.2em;
    position: relative;
    background-repeat: no-repeat;
    background-position: 0px 0.28em;
    background-size: auto 0.57em;

    font-family: "Source Serif Pro";
    font-style: normal;
    /* font-weight: 900; */
    font-size: 110px;
    line-height: 1.05em;
    letter-spacing: 0.05em;
    word-spacing: -0.2em;
}

.title > span ~ span {
    /* background-color: aliceblue; */
}
