.container {
    flex: 1;
    height: 100vh;
    background-color: #d66042;
    color: #f2e3e1;
    display: flex;
    justify-content: center;
    padding: 50px 3vw 0 3vw;
}

.headerContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 900;
    font-size: 12.5em;
    line-height: 251px;
}

.formContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 0 130px 0;
}

.form {
    width: 80%;
    height: 85%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.field {
    position: relative;
    margin: 0 0 2em 0;

    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 25px;
    width: 100%;
    flex: 1;
}

.textareaField {
    flex: 3;
}

.label {
    position: absolute;
    transition: all ease 0.4s;
    padding: 0 15px;
}

.textareaField .label {
    color: #d66042;
    z-index: 11;
}

.fieldTitle {
    top: -1.75em;
}

.placeholder {
    top: 0;
}

.textareaField .placeholder {
    top: 8px;
}

.textareaField .fieldTitle {
    color: #f2e3e1;
}

.control {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
}

.textareaField .control {
    height: 100%;
}

.control * {
    background-color: transparent;
    border: none;
    width: 100%;

    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 1.25em;
    line-height: 25px;
    color: inherit;
    padding: 0 15px;
    flex: 1;
    border-bottom: solid 2px #ffffff;
}

.textareaField textarea {
    background-color: #f2e3e1;
    border-bottom: none;
    padding: 8px 15px;
}

.reversedColors {
    background-color: #f2e3e1;
    color: #d66042;
}

.button {
    background-color: #f2e3e1;
    color: #d66042;
    padding: 9px 35px;
    border: none;
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
