.container {
    display: flex;
    position: relative;
}

.container p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.leftCol {
    flex: 1;
}

.paddingContainer {
    padding: 5vw 5vw 5vw 10vw;
    display: flex;
    flex-direction: column;
}

.rightAligned {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signatureContainer {
    display: flex;
    flex-direction: column;
}

.signatureContainer > p {
    margin: 0;
    text-align: end;
}

.imageContainer {
    flex: 1;
}
