@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

$primary: #ffffff;
$black: #181924;
body {
    margin: 0;
}
html {
    font-size: 16px;
}
@media screen and (min-width: 320px) {
    html {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
}
@media screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }
}

// h1 {
//     font-size: 3em !important;
// }

// h2 {
//     font-size: 2.6em !important;
// }

// h3 {
//     font-size: 2.2em !important;
// }

// h4 {
//     font-size: 1.8em !important;
// }

// h5 {
//     font-size: 1.4em !important;
// }

// h6 {
//     font-size: 1em !important;
// }

// @media (max-width: 1200px) {
//     body {
//         font-size: 14px;
//     }
// }

// @media (max-width: 1000px) {
//     body {
//         font-size: 12px;
//     }
// }

// @media (max-width: 800px) {
//     body {
//         font-size: 10px;
//     }
// }

// @media (max-width: 600px) {
//     body {
//         font-size: 8px;
//     }
// }

// @media (max-width: 400px) {
//     body {
//         font-size: 6px;
//     }
// }

button {
    cursor: pointer;
}

button:hover::before {
    content: "";
    background-color: #ffffff;
    border: inset 2px #181924;
    color: #181924;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 10%;
}

header,
main {
    z-index: 10;
}

header,
main,
.paralax-placeholder {
    position: relative;
}

.paralax-placeholder {
    z-index: 1;
}

.footer-placeholder {
    height: 90vh;
}

.header-placeholder {
    height: 90vh;
}

.paralax-section {
    position: fixed !important;
    bottom: 0;
    z-index: 5;
    height: 90vh;
    width: 100vw;
}

.paralax-section.hero {
    top: 0;
    bottom: unset;
    padding-right: 0;
    padding-left: 0;
}

.paralax-normal {
    position: relative;
    z-index: 10;
}

.section > * {
    display: flex;
    padding-right: 5vw;
    padding-left: 5vw;
}

.section.left-padding > * {
    padding-right: 0;
}

.screen-padding {
    padding-right: 5vw;
    padding-left: 5vw;
}

// Helper Classes
.full-width-image-container {
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: bottom left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width-image {
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
