@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

$primary: #ffffff;
$black: #181924;
body {
    margin: 0;
}

header,
main {
    z-index: 10;
}

header,
main,
.paralax-placeholder {
    position: relative;
}

.paralax-placeholder {
    z-index: 1;
}

.footer-placeholder {
    height: 90vh;
}

.header-placeholder {
    height: 90vh;
}

.paralax-section {
    position: fixed !important;
    bottom: 0;
    z-index: 5;
    height: 90vh;
    width: 100vw;
}

.paralax-section.hero {
    top: 0;
    bottom: unset;
    padding-right: 0;
    padding-left: 0;
}

.paralax-normal {
    position: relative;
    z-index: 10;
}

.section > * {
    display: flex;
    padding-right: 5vw;
    padding-left: 5vw;
}

.section.left-padding > * {
    padding-right: 0;
}

.screen-padding {
    padding-right: 5vw;
    padding-left: 5vw;
}

// Helper Classes
.full-width-image-container {
    height: 400px;
    position: relative;
    background-size: cover;
    background-position: bottom left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width-image {
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}
