.container {
    display: flex;
    height: 90vh;
    background-color: #d66042;
    color: #f2e3e1;

    font-style: normal;
    font-weight: normal;
}

.footerContainer {
    display: flex;
    flex: 1;
}

.container.contactPage {
    height: unset;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.centered {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.row {
    flex: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

footer .container h2 {
    font-family: "Source Serif Pro";
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    margin: 0;
}

footer .container h3 {
    font-family: "Source Sans Pro";
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    margin: 0;
}

.row.lineContainer {
    flex: 1;
}

.line {
    height: 2px;
    width: 70vw;
    background-color: #f2e3e1;
}

.bottomRowContainer {
    flex-direction: row;
    justify-content: space-between;
}

.verticalColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 174px;
}

footer h3.logo {
    font-family: "Source Serif Pro";
    text-align: start;
}

.email {
    font-family: "Source Sans Pro";
    font-size: 20px;
    line-height: 25px;
    text-decoration-line: underline;
}

.legal {
    font-family: "Source Sans Pro";
    font-size: 20px;
    line-height: 25px;
}

.socialBar {
    width: 500px;
    justify-content: center;
}

.social {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 2em;
    margin-top: 35px;
}

.social > * {
    margin-right: 0.5vw;
}

.social a {
    color: inherit;
}

.emailInput {
    display: flex;
    height: 44px;
}

.emailInput input {
    flex: 3;
    height: 44px;
}

.emailInput span {
    flex: 1;
}

.form {
    display: flex;
    align-items: center;
}

.field {
    display: flex;
    flex-direction: column;
}

.field {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    width: 100%;
    flex: 1;
}

.label {
    color: #ebd4d1;
    padding: 5px 2px;
}

.control {
    width: 100%;
    display: flex;
}

.input {
    background-color: #f2e3e1;
    width: 100%;
    border: 1px solid #8f3220;
    color: #d66042;

    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 25px;
    padding: 0 15px;
    flex: 1;
}

.input::placeholder {
    color: #d66042;
}

.submit {
    cursor: pointer;
    width: 65px;
    height: 44px;
    position: relative;
    background-color: #8f3220;
    border: none;
}

.arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    right: 20%;
    margin: auto;
    height: 4px;
    border-radius: 3px;
    background-color: #ffffff;
}

.arrow::after,
.arrow::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 4px;
    right: -4px;
    background-color: inherit;
    border-radius: 3px;
}

.arrow::after {
    top: -100%;
    transform: rotate(45deg);
}

.arrow::before {
    top: 100%;
    transform: rotate(-45deg);
}
