.container {
    min-height: 500px;
    padding: 3vw 10vw;
    display: flex;
    align-items: center;
}

.container > div {
    flex: unset;
}

.cursor {
    display: inline-block;
    width: 10px;
    height: 65%;
    margin: 0 10px;
    animation-name: blinking;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes blinking {
    from,
    to {
        background-color: currentColor;
    }
    50% {
        background-color: transparent;
    }
}

@media (min-width: 300px) {
    .mobile {
        visibility: visible;
        display: inline-block;
    }
    .desktop {
        visibility: hidden;
        display: none;
    }
}

@media (min-width: 1401px) {
    .mobile {
        visibility: hidden;
        display: none;
    }
    .desktop {
        visibility: visible;
        display: inline-block;
    }
}
